.search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
  background: white;
  width: 80%;
  border-radius: 4px;
  height: 48px;
}

#search-input {
  border: none;
  outline: none;
}
