/* main styles */
body {
  background: #181824 !important;
}
form {
  display: flex;
}
/* class styles */
.check {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid yellow;
  margin-right: 24px;
}
.complete {
  background-color: green;
}

.container {
  background-color: grey;
  max-width: 80%;
  margin-top: 100px;
  border-radius: 4px;
}
.delete-item {
  padding-right: 16px;
}
.individual-task-container {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}
.input-details {
  display: flex;
}
.input-todo,
.individual-task-container {
  height: 88px;
  justify-content: space-evenly;
}
.input-todo input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
}

.input-todo input {
  outline: none;
}

.tasks-container {
  display: flex;
}

.task-description {
  color: gray;
}

.task-details {
  flex-grow: 1;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.to-do-list-items,
.input-todo,
#complete-tasks {
  border-radius: 4px;
  overflow: hidden;
}
.todo-item-container {
  height: 56px;
}
.todo-item-container,
.input-todo {
  display: flex;
  align-items: center;
  background-color: #25283c;
  padding: 0px 16px;
  width: 100%;
}

.to-do-list-items,
#complete-tasks {
  background-color: #25283c;
  width: 100%;
  color: white;
  border-radius: 4px;
}

.user-input {
  display: flex;
  flex-grow: 1;
}
