/* main styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(120deg, #ee9ca7, #ffdde1) !important;
}

h1,
h2 {
  color: black;
}
form {
  display: flex;
  align-items: center;
}

/* class & id styles */
.add-new-task-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.add-new-task-container,
.individual-task-container {
  display: flex;
  align-items: center;
  height: 88px;
}

#complete-tasks {
  opacity: 0.7;
}
.container {
  max-width: 80%;
  border-radius: 4px;
}

.drag-icon {
  padding: 0 16px 0 12px;
  cursor: pointer;
}

.fa-plus {
  color: gray;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-container {
  display: flex;
  justify-content: center;
  background: white;
  width: 80%;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.task-description {
  color: gray;
  text-transform: capitalize;
}

.task-details {
  flex-grow: 1;
}

.todo-item {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.to-do-list-items,
#complete-tasks {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.todo-item-container {
  height: 64px;
}
.todo-item-container,
.input-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0px 16px;
  margin-left: 32px;
  width: 100%;
}

.to-do-list-items,
.new-task-item,
#complete-tasks {
  background-color: white;
  width: 100%;
  color: gray;
  border-radius: 4px;
}

#user-input-title,
#user-input-details {
  flex: 1;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
}
