.add-new-task-container {
  justify-content: space-around;
}
.add-new-task-container,
.individual-task-container,
.todo-item,
.input-todo-item,
.todo-item-container,
.input-todo-container {
  display: flex;
}

.add-new-task-container,
.individual-task-container,
.todo-item,
.input-todo-item {
  align-items: center;
}

.add-new-task-container,
.individual-task-container {
  height: 88px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
}

#complete-tasks {
  opacity: 0.7;
}

.task-description,
.input-task-description {
  text-transform: capitalize;
  font-weight: lighter;
}

.task-details {
  /* flex-grow: 1; */
}

.todo-item,
.input-todo-item {
  text-transform: capitalize;
  flex-grow: 1;
}

.todo-item p {
  margin-bottom: 6px;
}

.todo-item-container {
  height: 64px;
}

.todo-item-container,
.input-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0px 16px;
  margin-left: 8px;
  width: 90%;
}

.to-do-list-items,
.new-task-item,
#complete-tasks {
  width: 100%;
  border-radius: 4px;
}

#user-input-title,
#user-input-details {
  /* flex: 1; */
  background-color: transparent;
  border: none;
  outline: none;
}
