.add-new-task-container {
  min-height: 90px;
}
.add-new-task-container,
.individual-task-container,
.todo-item,
.input-todo-item,
.todo-item-container,
.input-todo-container {
  display: flex;
}

.add-new-task-container,
.individual-task-container,
.todo-item,
.input-todo-item {
  align-items: center;
}

.add-new-task-container,
.individual-task-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
  height: auto;
}

.individual-task-container {
  min-height: 72px;
}
#complete-tasks {
  opacity: 0.7;
}

p.edit-mode,
.to-do-list-items input,
input.title,
input.details {
  display: none;
}

input.edit-mode {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  outline: none;
  display: block;
  color: gray;
}

.task-description,
.input-task-description {
  font-weight: 200;
}

.todo-item,
.input-todo-item {
  flex-grow: 1;
}

.todo-item p {
  margin-bottom: 6px;
}

.todo-item-container {
  height: 64px;
}

.todo-item-container,
.input-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0px 16px;
  margin-left: 8px;
  width: 90%;
}

.to-do-list-items,
.new-task-item,
#complete-tasks {
  width: 100%;
  border-radius: 4px;
}

#user-input-title,
#user-input-details {
  /* flex: 1; */
  background-color: transparent;
  border: none;
  outline: none;
}
